<!-- Footer -->
<footer class="py-5 mt-5" style="background-color: var(--bs-primary); color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Steirischursprung</h5>
        <p class="text-white-50"><!-- Adresse und Kontaktdaten --></p>
      </div>
      <div class="col-md-4">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="/impressum/" class="text-white-50">Impressum</a></li>
          <li><a href="/datenschutz/" class="text-white-50">Datenschutz</a></li>
          <li><a href="/agb/" class="text-white-50">AGB</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-md-end">
        <p class="text-white-50">&copy; Steirischursprung</p>
      </div>
    </div>
  </div>
</footer>